<!DOCTYPE html>
{% assign language = page.language | default: 'en' %}
<html lang="{{ language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Postcode.nl BV">
		<title>{{ page.title }} – {{ site.title }}</title>
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="icon" sizes="any" href="/assets/img/favicon.ico">
		<link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div class="logo logo-header">
					<a href="/{% if language != 'en' %}entries/{{ language }}{% endif %}">Postcode.eu</a>
				</div>

				<nav class="nav-primary">
					{% include {{ language | append: '/nav-primary.html' }} %}
				</nav>

				<nav class="nav-language">
					<ul>
						<li>
							<a href="{% link _entries/en/index.md %}">🇬🇧 English</a>
						</li>
						<li>
							<a href="{% link _entries/nl/index.md %}">🇳🇱 Nederlands</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main>
			<div class="wrapper">
				<h1>{{ page.title }}</h1>

				{{ content }}
			</div>
		</main>

		<footer>
			<div class="wrapper">
				<p class="footer-copyright">
					Copyright &copy; {{ site.time | date: '%Y' }} Postcode.nl B.V.
				</p>
			</div>
		</footer>
	</body>
</html>
